.cv-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
}

.header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.objective,
.education,
.experience,
.skills,
.certifications {
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.objective h2,
.education h2,
.experience h2,
.skills h2,
.certifications h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #222;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.education_list,
.skill_list,
.certification_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.education_list li,
.skill_list li,
.certification_list li {
  margin-bottom: 10px;
  color: #555;
  font-size: 16px;
}

.job ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.job ul li {
  margin-bottom: 10px;
  color: #555;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .cv-container {
    grid-template-columns: 1fr;
  }
}
